.preloader {
  --bg-color: #34314c;
  --size:200px;
  --first-color:#ff7473;
  --second-color:#ffc952;
  --third-color:#47b8e0;
  --thickness: 5px;
  --duration: 1s;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--duration);
  z-index: 2;
}

.preloader__content {
  position: relative;
  width: var(--size);
  height: var(--size);
}

.preloader__first,
.preloader__second,
.preloader__third {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: var(--duration) linear infinite;
}

.preloader__first{
  border-bottom: var(--thickness) solid var(--first-color);
  animation-name: first;
}

.preloader__second{
  border-right: var(--thickness) solid var(--second-color);
  animation-name: second;
}

.preloader__third{
  border-top: var(--thickness) solid var(--third-color);
  animation-name: third;
}

@keyframes first {
  0% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); }
}

@keyframes second {
  0% {  transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% { transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); }
}

@keyframes third {
  0% { transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% { transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); }
}

.done {
opacity: 0;
visibility: hidden;
}

body {
  --bg-color: rgba(211, 211, 211 , 100);
  background-color: var(--bg-color);
  --blue-color: #20b2aacc;
  --green-color: #3CB371;
  --red-color: red;
  --grey-color: rgba(105, 105, 105, 100);
}
.styleChatContainer {
  height: 40vh;
  background-color: white;
  overflow: auto;
}

#styleAddButton {
  background-color: grey;
  border-color: grey;
}

.styleCurrentChannel {
  color: var(--grey-color);
}

.spanError {
  color: var(--red-color);
}
.styleChannels {
  background-color: var(--blue-color);
  font-size: 20px;
  color: white;
}
#styleSubmitButton {
  background-color: var(--blue-color);
  border-color: var(--grey-color);
}
.styleSubmitButton:hover {
  background-color: var(--green-color)
}

.styleMessageDate {
  font-size: 8px;
  color: grey;
  text-align: right;
  display: block;
}

.styleMessageUsername {
  font-size: 10px;
  color: grey;
}

.styleUsernameView {
  font-size: 24px;
  font-weight: bold;
  color: var(--grey-color);
}

.styleUsernameView span {
  font-size: 24px;
  font-weight: bold;
  color: var(--blue-color)
}