$sz: 200px;
$drtn: 1s;
$firstcol: #ff7473;
$secondcol: #ffc952;
$thirdcol: #47b8e0;
$bluecol: #20b2aacc;
$greycol: rgba(105, 105, 105, 100);

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #34314c;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $drtn;
  z-index: 2;
}

.preloader__content {
  position: relative;
  width: $sz;
  height: $sz;
}

.preloader__first,
.preloader__second,
.preloader__third {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: $drtn linear infinite;
}

.preloader__first{
  border-bottom: 5px solid $firstcol;
  animation-name: first;
}

.preloader__second{
  border-right: 5px solid $secondcol;
  animation-name: second;
}

.preloader__third{
  border-top: 5px solid $thirdcol;
  animation-name: third;
}

@keyframes first {
  0% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }
  100% { transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); }
}

@keyframes second {
  0% {  transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }
  100% { transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); }
}

@keyframes third {
  0% { transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }
  100% { transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); }
}

.done {
opacity: 0;
visibility: hidden;
}

body {
  background-color: rgba(211, 211, 211 , 100);
}
.style-chat-container {
  height: 55vh;
  background-color: white;
  overflow: auto;
}

#style-add-button {
  background-color: #555555;
  border-color: grey;
}
#style-re-button {
  background-color: grey;
  border-color: grey;
}

.style-current-channel {
  color: $greycol;
}

.style-channels {
  background-color: $bluecol;
  font-size: 20px;
  color: white;
}
#style-submit-button {
  background-color: $bluecol;
  border-color: $greycol;
}

.style-message-date {
  font-size: 8px;
  color: grey;
  text-align: right;
  display: block;
}

.style-message-username {
  font-size: 10px;
  color: grey;
}

.style-username-view {
  font-size: 24px;
  font-weight: bold;
  color: $greycol;
}

.style-username-view span {
  font-size: 24px;
  font-weight: bold;
  color: $bluecol;
}


